.gradient-red-btn {
  background: linear-gradient(45deg, #570303, #f50606);
  border: none;
  border-radius: 25px;
  width: 400px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.gradient-red-btn:hover {
  background: linear-gradient(45deg, #570303, #f50606);
}

.gradient-green-btn {
  background: linear-gradient(45deg, #003600, #049104);
  border: none;
  border-radius: 25px;
  width: 400px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.gradient-green-btn {
  background: linear-gradient(45deg, #003600, #049104);
}

.choose-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
