/* Login container */
.question-container {
  margin: auto;
  height: 100%;
}

.display-none {
  display: none;
}

.question-block {
  margin: 0 20px;
  border: 2px solid gray;
}

.title {
  font-size: 30px;
}
